# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Tests
__snapshots__
/tests/e2e/report/
/tests/e2e/snapshots/
/tests/e2e/results/
/blob-report/
/playwright/.cache/
