h1 {
  --at-apply: scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
  --at-apply: scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first: mt-0;
}

h3 {
  --at-apply: scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  --at-apply: scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
  --at-apply: leading-7 [&:not(:first-child)]:mt-6;
}

blockquote {
  --at-apply: mt-6 border-l-2 pl-6 italic;
}

ul {
  --at-apply: my-6 ml-6 list-disc [&>li]:mt-2;
}

code {
  --at-apply: relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

p.lead {
  --at-apply: text-xl text-muted-foreground;
}

p.large {
  --at-apply: text-lg font-semibold;
}

p.small {
  --at-apply: text-sm font-medium leading-none;
}

p.muted {
  --at-apply: text-sm text-muted-foreground;
}
